@font-face {
  font-family: "pixel-font";
  src: url("./fonts/ttf/Cubic_11_1.010_R.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pixel-font";
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 4rem;
    color: white;
  }

  .boxArea {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box {
      height: 16px;
      width: 16px;
      margin: 2px;
      background: rgb(29, 29, 29);
      box-shadow: rgb(0, 0, 0) 0px 0px 2px;
      transition: background-color 0.5s ease;
    }
  }
}
